.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        text-align: center;
        width: 90%;
    }

    &__container {
        width: 100%;
        max-width: 800px;
        display: flex;
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__card {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 20px;
        transition-duration: 0.3s;
        border-radius: 20px;
        width: 100%;
        margin: 15px;

        &:hover {
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        text-align: center;
        justify-content: center;
        height: 100%;

        img {
            max-width: 150px;
            margin-bottom: 20px;
            border-radius: 100%;
        }
    }

    &__form {
        padding: 20px;
    }
}