.sideBar {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    @media screen and (max-width: 768px) {
        display: none;
    }

    span {
        font-size: 13px;
    }

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__profile {
        max-height: 85%;
        overflow: scroll;
    }

    &__scroll {
        overflow: scroll;
    }

    &__card {
        width: 85%;
        border-radius: 0px 30px 30px 0px;
        display: flex;
        align-items: center;
        padding: 15px;
        margin-bottom: 10px;

        &:hover {
            background-color: #eeefff;
        }
    }
}

// Come back to this
.chat-online {
    color: #34ce57
}
  
.chat-offline {
    color: #e4606d
}