.sideBar {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border-right: 1px solid #ddd;

    span {
        font-size: 13px;
    }

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__profile {
        max-height: 85%;
        overflow: scroll;
    }

    &__scroll {
        overflow: scroll;
    }
}

// Come back to this
.chat-online {
    color: #34ce57
}
  
.chat-offline {
    color: #e4606d
}