@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

header {
  margin-top: 60px;
}

.chat-area {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 75px;
}

.chat-area .chat-bubble {
  background-color: #bbdefb;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  word-wrap: break-word;
  overflow-anchor: none;
}

.chat-area .chat-bubble.current-user:after {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #25D366;
}

.chat-area .chat-bubble.friend:after {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #bbdefb;
}

.chat-bubble .chat-time {
  font-size: 12px;
  color: #000;
  text-align: right;
}

.chat-area .chat-bubble.current-user {
  margin-left: auto;
  background-color: #25D366;
  color: #fff;
  position: relative;
}

.chat-area .chat-bubble.friend{
  position: relative;
}

.form-control {
  width: 60%;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  margin-top: 10px;
}


@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chat-area .chat-bubble {
    max-width: 250px;
  }
}

#anchor {
  /* allow the final child to be selected as an anchor node */
  overflow-anchor: auto;
}

.full-height {
  height: 100vh;
}

.width90 {
  width: 90%;
}

.chat-box {
  position: fixed;
  bottom: 0;
  padding-bottom: 50px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  padding-top: 10px;
  box-shadow: 0px -4px 0px -2px #eeeeee;
  border-radius: 20px;
}

.chat-btn {
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color: transparent;
    color: #25D366;
    border: none;
}

.chat-btn:hover {
  background-color: transparent;
  color: #25D366;
}

/* Overrides */
.btn {
  margin-top: 0px;
}

.form-control {
  border-radius: 1.25rem;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  pointer-events: none;
}